/*
 * Estilos de tu proyecto
 */
 {
 	font-family: 'Montserrat';
 }

 body {
  font-family: 'Montserrat';
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.71429;
  background-color: #fff;
}

 nav{
 	background: #2F4F4F;
	width: 100%;
	height: 60;
    float: left;
    position: fixed;
 }

 ul{
    width: 30%;
    float: right;
    
    
    font-family: 'Raleway', sans-serif; 
}
ul li{
    display: inline-block;
    margin-right: 20px;
}
 li a{
    display: inline-block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px;
}
 	
h1{
 	font-family: 'Montserrat';
 	color: white;
 	position: absolute;
 	top: 3px;
 	left: 35px;

 }

.box-services{
  display: inline-block;
  width: 30%;
  margin-top: 63px;
}

h2{
	font-family: 'Montserrat';
 	color: withe;
 	position: relative;
 	top: 90px;
 	left: 500px;
}

h6{
	color: withe;
	position: relative;
	top: 90px;
	left: 470px;
}

img{
	position: relative;
	top: 90px;
	left: 480px;
}

.home{
	background: #00FFFF;
	height: 600px;
}

h3{
   color: black;
   position: relative;
   top: 200px;
   left: 550px;
}
